.container {
  display: flex;
  flex-direction: row;
  padding: 13px;
}
.container:hover {
  background-color: #23272a;
}
.message {
  color: white;
  margin: 10px;
}
.avatar {
  cursor: pointer;
}
.loaded {
  height: 100vh;
  width: 100%;
  background-color: #23272a;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notLoaded {
  display: none;
}