.container {
  display: flex;
  flex-direction: row;
  padding: 13px;
}
.container:hover {
  background-color: #23272a;
}
.message-top {
  color: white;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
#author {
  cursor: pointer;
}
#author:hover {
  text-decoration: underline; 
}
#timestamp {
  cursor: default;
}
.message-bottom, small {
  color: #959595;
}
.message-bottom {
  color: white;
  margin: 10px;
  margin-top: 0;
}
.avatar {
  cursor: pointer;
}
.loaded {
  height: 100vh;
  width: 100%;
  background-color: #23272a;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notLoaded {
  display: none;
}